/* styles.css */
#container {
  width: 100%;
}

div {
  padding-left: 4px;
  padding-bottom: 2px;
}

#table {
  display: flex;
  flex-direction: column;
}

.rowItem {
  display: flex;
}

.headerRow {
  display: flex;
}